/Makefile
/bin
/standalone/lib/*.o
/standalone/lib/*.a
/standalone/src/*.o

/gh-pages/
/tmp/

/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.dvi
/doc/manual.idx
/doc/manual.ilg
/doc/manual.ind
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.ps
/doc/manual.six
/doc/manual.toc
/doc/manual.example-1.tst
/doc/tthmacros.tex
/doc/tthout

/htm/
